.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer > * {
  text-align: center;
}

.footer a {
  color: #fff;
  margin-inline: 0.5rem;
}

.footer img {
  height: 32px;
}

@media (min-width: 768px) {
  .footer img {
    height: 38px;
  }
}
